.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --warning: #FFBF47;
  --error: #BA2732;
  --grey-light: #EAEAEA;
  --basic-color: #000000;
}

/* Global */

body {
  min-width: 1090px;
  margin: 0;
  padding: 0;
  background-color: var(--white);
  font-family: "PT Sans", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-color);
  text-align: center;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}


/* Header */

header {
  background-color: #F3F7F9;
  text-align: center;
}

header ul {
  list-style: none;
}

header p {
  color: #EE3643;
  font-size: 16px;
  line-height: 23px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.menu {
  background-color: #293449;
}

.logo-img {
  background-color: #EE3643;
}

.search {
  background-color: #293449;
}



/* Динамика menu */
.logo-img:active,
.catalog-shopping-cart:active {
  background-color: var(--error);
}

.marker:active,
.shopping-cart:active {
  background-color: #161D29;
}

.btn-header:hover {
  background-color: #5FBB2D;
}

.btn-header:active {
  opacity: 75%;
}


/* SEACRH */
form.block-search {
  display: flex;
  flex-direction: row-reverse;
}

.btn-search {
  margin: 0;
  border: 0;
  text-decoration: none;
  appearance: none;
  outline: none;
  box-shadow: none;
  width: 20px;
  height: 20px;
  background-color: green;
}

.search:hover + .btn-search{
  background-color: gold;
}

.search:focus {
  background-color: var(--white);
  color: #000000;
}


/* Динамика входа */
.log-in:hover,
.join:hover {
  color: var(--basic-red);
}

.log-in:active,
.join:active {
  color: var(--basic-greylight);
}

/* Динамика sub-menu */
.sub-menu a:hover {
  background-color: #293449;
}

.sub-menu a:active {
  background-color: #1D2739;
  opacity: 75%;
}

.menu a,
.search {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.btn-header {
  background-color: #63A63E;
}

.num-phone {
  border: 3px solid #FFFFFF;
  color: #EE3643;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-address {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #32425C;
}

.log-in,
.join {
  border: 1px solid #ffffff;
  background-color: #ffffff;
  font-family: "Cuprum", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
}

.sub-menu {
  background-color: #32425C;
}

.sub-menu a{
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/* MAIN NAV */
.main-nav {
  list-style: none;
}

/* MATERIALS */
.materials {
  background-color: #FFBF47;
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


/* INSTRUMENTS */
.instruments {
  background-color: #3BBCE3;
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


/* TECHNICS */
.technics {
  background-color: #DC91D8;
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}


/* SALES */
.sales {
  background-color: #8ED78F;
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}



/* DELIVER */
.deliver {
  background-color: #FFC047;
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

/* MAIN NAV BTN */
.main-nav-btn {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
}

/* MAIN-BTN-NAV DYNAMIC */
.main-nav-btn:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.main-nav-btn:active {
  background-color: rgba(169, 169, 169, 0.3);
}


/* SLIDER */
.slide {
  background-color: rgba(0, 0, 0, 0.25);
}

.slide-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
  text-transform: uppercase;
}

.slide-p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--white);
}

.btn-slide {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--white);
}

.btn-slide:hover {
  background-color: #CA2C37;
}

.btn-slide:active {
  background-color: var(--error);
}


/* POPULAR ITEM */
.popular-item ul {
  list-style: none;
}

.popular-item-header,
.pop-manufac-header {
  background-color: #F9F5F0;
}

.popular-item-title,
.pop-manufac-title {
  color: #32425C;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.all-popular-item,
.all-pop-manufac {
  background-color: var(--basic-red);
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}


/* POP MANUFAC */
.pop-manufac ul {
  list-style: none;
}

.pop-manufac-list {
  background: #FFFFFF;
  border: 1px solid #EAEAEA;
  box-sizing: border-box;
}

.pop-manufac-list a:hover {
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.pop-manufac-list a:active {
  opacity: 0.5;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}


/* SERVICES */
.services {
  background-color: var(--basic-background);
}

.services-header h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.services-header p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.services-button button {
  background-color: #32425C;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  width: 240px;
  height: 61px;
  outline: none;
}

.services-button button:hover {
  background-color: #293449;
}

.services-button button:focus {
  background-color: var(--white);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: #32425C;
  outline: none;
}

/* services-slider */
.services-slider h3 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #32425C;
}

.btn-slider {
  background-color: #FF5357;
  color: white;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

/* INFO */

.info {
  background-color: #ffffff;
}

.info p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
}

.about-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.about .deliver-comp {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.contacts-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.btn-info {
  background-color: var(--basic-red);
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}

/* FOOTER */

.footer ul {
  list-style: none;
}

.footer-up {
  background-color: #32425C;
}




/* FOOTER one */

.footer-address,
.footer-number {
  color: #F3F7F9;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

/* FOOTER two */

.footer-nav a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #F1F5F7;
}

/* FOOTER catalog */

.footer-catalog a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #FFD180;
}

/* FOOTER end */

.footer-end {
  background-color: #293449;
}

.footer-end p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.social a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.copyright p {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #ffffff;
}

.copyright a {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #FFD180;
}

/* Динамика footer */
.footer-two a:hover,
.footer-catalog a:hover {
  text-decoration: underline;
}

.footer-two a:active,
.footer-catalog a:active {
  opacity: 25%;
  text-decoration: none;
}

.copyright a:hover {
  text-decoration: underline;
}

.copyright a:active {
  text-decoration: none;
  color: #EE3643;
}

/* CATALOG !!! */
.catalog-shopping-cart {
  background-color: #EE3643;
}

.catalog-personal-area {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  border: 1px solid #ffffff;
  background-color: #ffffff;
}

.catalog-my-products,
.catalog-my-account {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #32425C;
}

.catalog-my-products:hover,
.catalog-my-account:hover {
  color: var(--basic-red);
}

.catalog-my-products:active,
.catalog-my-account:active,
.catalog-personal-area:active {
  opacity: 25%;
  color: #000000;
}

/* Nav-catalog */
.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.catalog-title {
  background-color: #F2F6F8;
  color: #32425C;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

/* FIlter */
.filter {
  background-color: #F7F3EC;
}

.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.fabricator,
.power {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

fieldset label {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.btn-filter {
  border: 1px solid #E5E5E5;
  background-color: #ffffff;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

/* SORT */
.cost h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  color: black;
}

.sort {
  background-color: #F7F3EC;
}

.sort ul {
  list-style: none;
}

.sort h2 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.sort-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #EE3643;
  text-transform: uppercase;
}

.sort-list a:hover {
  color: rgba(0, 0, 0, 1);
  border-bottom: 1px solid #EE3643;
}

.sort-list a:active {
  color: #EE3643;
  border-bottom: none;
}

.sort-up,
.sort-down {
  opacity: 30%;
}

.sort-up:hover,
.sort-down:hover {
  opacity: 100%;
}

.sort-up:active,
.sort-down:active {
  fill: #EE3643;
}


/* CATALOG */
.catalog ul {
  list-style: none;
}



.catalog li {
  border: 1px solid #eaeaea;
  width: 320px;
  height: 318px;
}

.catalog h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
}

.p-close {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color:#a9a9a9;
}

.price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: #ffffff;
  /* padding-top: 20px;
  padding-bottom: 20px;
  margin-right: auto;
  margin-left: auto; */
  background-color: #EE3643;
}

.buy {
  background-color: #63A63E;
  color: #ffffff;
  text-transform: uppercase;

}

.buy:hover {
  background-color: var(--success);
}

.buy:active {
  background-color: #518534;
}

.in-marker {
  border: 3px solid #63A63E;
  background-color: #ffffff;
  color: #32425C;
  text-transform: uppercase;
}

.in-marker:hover {
  border: 3px solid #32425C;
  background-color: #ffffff;
  color: #32425C;
}

.in-marker:active {
  border: 3px solid rgba(50, 66, 92, 0.4);
  background-color: #ffffff;
  color: #32425C;
}

.buy,
.in-marker {
  border-radius: 2px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
}

.btn-list a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  background-color: white;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-transform: uppercase;
}

a.btn-list-one {
  background-color: #EE3643;
  color: white;
}

.btn-list a:hover {
  border: 1px solid #C5C5C5;
}

.btn-list a:active {
  border: 1px solid #EE3643;
}

.pre-footer {
  background-color: var(--basic-background);
}

.pre-footer h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: black;
  text-transform: uppercase;
}

.pre-footer p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}
